.content {
  text-align: center;
  background: linear-gradient(135deg, #fff9c5, #9994dd);
  /* display: flex;
  flex-direction: column; */
  position: relative;
  min-height: 100vh;
}

.question-text {
  color: black !important;
  line-height: 1.1 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
  text-align: center;
}
.sign-in-form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 1rem;
}
.game-container {
  margin: 5rem 0 5rem 0 !important;
  padding: 2rem;

  text-align: left;
  background: #ede7f6;
}

.form-container {
  display: flex;
  flex-direction: column;
}
.start-btn {
  font-size: 1.3rem !important;
}

.submit-btn {
  margin-top: 3rem !important;
  width: 100%;
}

.question-text {
  color: #111 !important;
  font-size: 1rem !important;
  padding-left: 0.3rem;
}
.question-number {
  color: #111;
  margin-right: 0.3rem;
  padding-right: 0.3rem;
  padding: 0.5rem 0.6rem;
  border-right: 1px solid black;
}

.users {
  position: fixed;
  bottom: 0;
}

.user-select-container {
  margin-top: 14rem !important;
  text-align: center;
  /* height: 100%; */
}

@media only screen and (max-width: 550px) {
  .user-select-container {
    margin-top: 8rem !important;
  }
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4.5rem 0 !important;
}

.display-users-container {
  flex-shrink: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  width: 100%;
}
.list-of-users {
  /* background: #673ab7;
  color: #ede7f6; */
  border-radius: 2%;
}

.all-users {
  width: 100%;
}
