.content {
  text-align: center;
  background: linear-gradient(135deg, #fff9c5, #9994dd);
  display: flex !important;
  flex-direction: column !important;
  height: 100vh;
}
.question-text {
  color: black !important;
  line-height: 1.1 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
  text-align: center;
}
.sign-in-form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 1rem;
}
.game-container {
  margin: 1.5rem 0 8rem 0 !important;
  padding: 2rem;
  height: 380px;
  width: 550px;
  text-align: left;
  background: #ede7f6;
}

.form-container {
  display: flex;
  flex-direction: column;
}
.start-btn {
  font-size: 1.3rem !important;
}

.submit-btn {
  margin-top: 3rem !important;
  width: 100%;
}

.question-text {
  color: #111 !important;
  font-size: 1rem !important;
  padding-left: 0.3rem;
}
.question-number {
  color: #111;
  margin-right: 0.3rem;
  padding-right: 0.3rem;
  padding: 0.5rem 0.6rem;
  border-right: 1px solid black;
}

.users {
  position: fixed;
  bottom: 0;
}

.user-select-container {
  margin-top: 7rem !important;
  text-align: center;
  /* height: 100%; */
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4.5rem 0 !important;
}

.display-users-container {
  display: flex;
  justify-content: center;
  background: #47277e;
  color: #fff;
  width: 100%;
}
.all-users {
  width: 50%;
}
